[submodule "ext/hdf5"]
	path = ext/hdf5
	url = git@github.com:HDFGroup/hdf5
	branch = 1.10/master
[submodule "ext/zlib"]
	path = ext/zlib
	url = git@github.com:madler/zlib
[submodule "ext/netcdf-c"]
	path = ext/netcdf-c
	url = git@github.com:Unidata/netCDF-C
[submodule "ext/ekat"]
	path = ext/ekat
	url = git@github.com:E3SM-Project/EKAT
[submodule "ext/OpenBLAS"]
	path = ext/OpenBLAS
	url = git@github.com:xianyi/OpenBLAS.git
[submodule "ext/Tines"]
	path = ext/Tines
	url = git@github.com:mschmidt271/Tines.git
[submodule "ext/TChem"]
	path = ext/TChem
	url = git@github.com:sandialabs/TChem.git
