[submodule "ext/hdf5"]
	path = ext/hdf5
	url = https://github.com/HDFGroup/hdf5
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib
[submodule "ext/netcdf-c"]
	path = ext/netcdf-c
	url = https://github.com/Unidata/netCDF-C
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
